<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML</title>
  <!-- HTML -->
  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/array.css">
</head>

<body>
  <div class="parent">
    <textarea id="text" placeholder="Your array will appear here " cols="40" rows="8"></textarea>
   <!-- <input type="text" name="text" id="txt">
      -->
      <input type="number" name="number" placeholder="enter array length" class="number" id="number1">
      <input type="range" name="range" id="range1" class="range" min="5" max="100">
      <input type="number" name="" id="number2" placeholder="Enter the max number" class="number" />
      <input type="range" name="" id="range2" class="range">
      <button id="btn"> <strong>Make arrey</strong></button>
      <div class="accend">
        <input type="checkbox" name="up" id="up" />
        <p>accending</p>
      </div>
      <div class="deccend">
        <input type="checkbox" name="down" id="down" />
        <p>deccending</p>
      </div>
  </div>
  <!-- Project -->
  <script src="js/array.js"></script>
</body>

</html>