<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="css/password.css">
 <div class="first">
    <textarea name="text" id="text" rows="5" cols="40" placeholder="your password 🔑 will be generated here"></textarea>
 </div>
 <div class="boxes">
   
   <div class="b1">
   <input type="checkbox" class"checkbox" id="small" /> 
   <p>Small letters</p>
   </div>
   <div class="b1">
     <input type="checkbox" name="" id="capital">
     <p>Capital Letters</p>
   </div>
      <div class="b1">
     <input type="checkbox" name="" id="symbols">
     <p>Symbols</p>
   </div>
   <div class="b1">
     <input type="checkbox" name="" id="numbers">
     <p>Numbers</p>
     </div>
     <div class="b1"><input type="checkbox" name="" id="korean">
     <p>Korean letters</p>
     </div>
     <div class="b1"><input type="checkbox" name="" id="japan">
     <p>Japanese letter</p>
     </div>
 </div>

 <div class="btns">
   <input type="number" name="length" id="length" placeholder="Enter Password length" value="" />
   
 <button id="defult">defult</button>
  <button id="generate">generate</button>
 <button id="savep">save password</button>
 
 <button id="getp">get password</button>
 <textarea name="" id="saved" cols="40" rows="5"></textarea>
 </div>
  <button class="" id="clear">Clear</button>
 
  <script src="js/password.js"></script>
</body>
</html>